{% extends 'admin_base.html' %}

{% block header %}
<h1>{% block title %} Admin {% endblock %}</h1>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js"></script>
<style type="text/css"></style>
<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/estilos.css')}}">
<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/bootstrap.min.css')}}">

{% block content %}

<style>

#tabla-tareas{
    margin-left: auto;
    margin-right: auto;
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
}
#eliminar {
    background-color: red;
    color: white;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}
#editar {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px; 
}
#botones {
    padding: 10px;
}
#tabla-colores{
    display: inline-block;
    
}

@media (max-width: 1350px) {
    #tabla-tareas{
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

@media (max-width: 1000px) {
    #tabla-colores {
        table-layout: fixed;
        width: 90%;
    }
}

/* ---------------- LOADING ---------------- */
#contenedor_carga{
    background-color: rgba(250, 250, 250, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #2c75dc;
    border-top-style: grove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
</style>


<div class="main col" style="margin-left: 330px; margin-right: 20px;">
    <div class="row">
        <h1 class="bienvenido">Reportes</h1>
    </div>
    <br>
    <p style="font-size: 20px;">Selecciona un rango de fechas para filtrar los reportes. Aqui podras obtener reporte de ventas por producto. Para ello selecciona un rango de fecha para filtrar las ventas.</p>
    <p style="font-size: 20px;"> Ademas podras obtener una auditoria de los productos referente a su stock en tienda.</p>

    <br>


    <div class="row justify-content-around">
        <form action="/filtrar_reportes" method="post">
            <div class="columna col-6">

                <label style="margin-right: 10px;" for="desde">Desde:</label>
                {% if desde != None %}
                <input name="desde" id="desde" type="date" value="{{desde}}" required/>
                {% else %}
                <input name="desde" id="desde" type="date" value="" required/>
                {% endif %}
                
                <label style="margin: 0 15px;" for="hasta">Hasta:</label>
                {% if hasta != None %}
                <input name="hasta" id="hasta" type="date" value="{{hasta}}"/>
                {% else %}
                <input name="hasta" id="hasta" type="date" value=""/>
                {% endif %}

                <input type="submit" value="filtrar" class="btn" id="btn" style="background-color: #7f544f; color: white; padding: 2px 90px; margin-left: 20px;">  
                <p style="margin-top: 10px;">*si no seleccione la fecha de "hasta" el sistema tomará la fecha actual*</p>
            </div>
        </form>
    </div>
    
    <a href="/informe_pdf_ventas/{{desde}}/{{hasta}}"> <input value="Generar Reporte PDF" class="btn" style="background-color: #7f544f; color: white; padding: 2px 90px; margin-left: 20px;">   </a>
    <br><br>
    
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad maxima vendida</th>
                    <th scope="col">Valor por unidad del producto</th>
                    <th scope="col">Ganancia por producto </th>
                    
                </tr>
            </thead>

            {% if tabla != None %}
            <tbody id="cuerpo_tabla">
                {% for t in tabla %}
                <tr>
                    <td>{{t['nombre'] }}</td>
                    <td>{{t['cantidad'] }}</td>
                    <td>{{t['valor'] }}</td>
                    <td>{{t['ganancia'] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td> <strong> Ganancia Total</strong></td>
                    <td></td>
                    <td></td>
                    <td> <strong> {{ total }} </strong></td>
                </tr>
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
            {% endif %}

        </table>
    </div>

    <br><br><br>


    <!-- ************************* -->
    <!-- AUDITORIA PRODUCTOS -->
    <!-- ************************* -->

    <div class="row">
        <h4 class="bienvenido">Auditoria de productos</h4>
    </div>

    <div class="row">
        <div class="container">
            <a href="/informe_pdf_auditoria/{{desde}}/{{hasta}}"> <input value="Generar Reporte PDF" class="btn" style="background-color: #7f544f; color: white; padding: 2px 90px; margin-left: 20px;"> </a>
        
        </div>
    </div>
    
    <br><br>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Funcionario</th>
                    <th scope="col">Nombre producto</th>
                    <th scope="col">cantidad en tienda anterior</th>
                    <th scope="col">cantidad en tienda actual</th>
                </tr>
            </thead>

            {% if auditoria == None %}
            <tbody id="cuerpo_tabla">
                <tr>
                    <td></td>
                </tr>
            </tbody>

            {% else %}
            
            <tbody id="cuerpo_tabla">
                {% for audi in auditoria %}
                <tr>
                    <td>{{audi['hora']}} </td>
                    <td>{{audi['fecha']}} </td>
                    <td> {{audi['nombre_funcionario']}} </td>
                    <td> {{audi['nombre_producto']}} </td>
                    <td>{{audi['cant_tienda_an']}} </td>
                    <td>{{audi['cant_tienda_ac']}} </td>

                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>

</div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
    
{% endblock %}

</body>
</html>