{% extends 'admin_base_modificar.html' %}

{% block header %}
<h1>{% block title %} Modificar Funcionario {% endblock %}</h1>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js"></script>
<style type="text/css"></style>
<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/estilos.css')}}">
<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/bootstrap.min.css')}}">
<!-- SWEET ALERT 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% block content %}

{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
{% for m in mensajes %}
{% if m == 'Los password no coinciden' %}

<script>
Swal.fire({
    position: 'center',
    icon: 'error',
    text: '{{m}}',
        
    showConfirmButton: True,
    confirmButtonColor: '#3E60E9',
    confirmButtonAriaLabel: 'Ok',
        
    allowOutSideClick: false,
    allowEscapeKey: false,
    allowEnterKey: false,
    stopKeydownPropagation: false,
})
</script>
    
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
    

<main class="main col" style="margin-left: 330px; margin-right: 20px;">
    <div class="row">

        <div class="col">
            <div class="text-center">
                <div class="card-body">
                    <h1 class="bienvenido">Modificar datos del funcionario</h1>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row contacto">
            <div class="container contenedor">
                <div class="col-12 col-xl-7" id="form-rec">

                    <form action="/actualizaF/{{data.id}}" method="post" name="f1" class="border p-5 form">
                
                        <div class="form-group">
                            <b> <label for="nombre" style="color:black"> Nombre </label> </b>
                            <input name="nombre" id="nombre" class="form-control" type="text" style="color:black" value="{{data.nombre}}" onkeypress="return verificar_nombre(event)" required/>
                        </div>
                        
                        <div class="form-group">
                            <b> <label for="apellido" style="color:black"> Apellido </label> </b>
                            <input name="apellido" id="apellido" class="form-control" type="text" style="color:black" value="{{data.apellido}}" onkeypress="return verificar_nombre(event)" required/>
                        </div>
                        
                        <div class="form-group">
                            <b> <label for="rut" style="color:black"> Rut </label> </b>
                            <input name="rut" id="rut" class="form-control" maxlength="10" type="text" value="{{data.rut}}" style="color: black;" placeholder="Sin puntos y con guíon" onkeypress="return verificar(event)" required/>
                        </div>
        
                        <div class="form-group">
                            <b> <label for="correo" style="color:black"> Correo </label> </b>
                            <input name="correo" id="correo" class="form-control" value="{{data.correo}}" style="color: black;" required>
                        </div>
        
                        <div class="form-group">
                            <b> <label for="password" style="color:black"> Password </label> </b>
                            <input name="password" id="password" type="text" class="form-control" value="{{data.password}}" style="color: black;" required>
                        </div>
                        
                        <div class="form-group">
                            <b> <label for="repetir-password" style="color:black"> Repetir password </label> </b>
                            <input name="repetir_password" id="repetir_password" type="text" class="form-control" value="{{data.password}}" style="color: black;" required>
                        </div>

                        <div class="form-group" style="color:black">
                            <b> <label for="rol">Rol</label> </b>
                            <select name="rol"  class="form-control" style="color:black">
                                <option value="{{data.rol}}">{{data.nom_rol}}</option>
                                {% for r in rol %}
                                <option value="{{r.id}}">{{r.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group" style="color:black">
                            <b> <label for="estado">Estado</label> </b>
                            <select name="estado"  class="form-control" style="color:black">
                                {% if data.estado == 1 %}
                                <option value="1">Activado</option>
                                <option value="0">Desactivado</option>
                                {% else %}
                                <option value="0">Desactivado</option>
                                <option value="1">Activado</option>
                                {% endif %}
                            </select>
                        </div>
                        
                        <!-- SUCURSAL -->
                        <div class="form-group" style="color:black">
                            <b> <label for="id_sucursal">Sucursal</label> </b>
                            <select name="id_sucursal"  class="form-control" style="color:black">
                                <option value="{{data.id_sucursal}}">{{data.nom_suc}}</option>
                                {% for suc in sucursal %}
                                <option value="{{suc.id}}">{{suc.direccion}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>

                        <input type="submit" value="Editar"  id="btn" class="btn" style="background-color: #7f544f; color: white; padding: 5px 30px;"/>
                    </form>


                </div>
            </div>

        </div>

    </div>
</main>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
{% endblock %}

</body>
</html>