{% extends 'base.html' %}
{% block header %}
<h1>{% block title %} Tus Pedidos {% endblock %}</h1>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js"></script>
<style type="text/css"></style>
<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/estilos.css')}}">
<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/bootstrap.min.css')}}">

{% block content %}


<main class="main col" style="margin-left: 330px; margin-right: 20px;">
    <div class="row">

        <div class="text-center">
            <div class="card-body">
                <h1>Tus Pedidos</h1>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Total a pagar</th>
                        <th scope="col">Productos / Cantidad</th>
                        <th scope="col">Repartidor</th>
                    </tr>
                </thead>
                <tbody id="cuerpo_tabla">
                    {% for ped in pedidos %}
                    <tr>
                        
                        {% if ped['estado'] == 1 %}
                        <td>Ingresado</td>
                        {% elif ped['estado'] == 2 %}
                        <td>En proceso</td>
                        {% else %}
                        <td>Enviado</td>
                        {% endif %}

                        <td>{{ ped['fecha'] }}</td>
                        <td>{{ ped['sucursal'] }}</td>
                        <td>{{ ped['bruto'] }} </td>

                        <td>
                            <ul>
                            {% for prod_cant in ped['nombres'] %}
                            <li>{{ prod_cant['nombre'] }} / {{ prod_cant['cantidad'] }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        

                        <td>{{ ped['repartidor'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</main>

<script>
function verificar(event) {
    if (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 107 || event.charCode == 45 ){
        return true;
    } else {
        return false;
    }
}

function verificar_nombre(event) {

if (event.charCode >= 107 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 241 || event.charCode == 209
    || event.charCode == 225 || event.charCode == 233 || event.charCode == 237 || event.charCode == 243 || event.charCode == 250) {
        return true;
} else {
    return false;
}
}

function solo_numero(event) {
    if (event.charCode >=48 && event.charCode <=57) {
        return true;
    } else {
        return false;
    }
}

</script>

{% endblock %}

</body>
</html>